<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/sidebar.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
    <script src="/js/windowsys.js"></script>

    <title>BOARD</title>
  </head>
  <body>
    <!-- Side navigation -->
    <div class="sidenav" id="sidenav">
      {% for app in apps %}
        <a onclick="changewindow('{{app}}')"><img width="60" src="/apps/{{app}}/icon.png"></a>
      {% endfor %}
    </div>
    <script>
      //document.getElementById("sidenav").innerHTML = decodeURIComponent('{{sidebarhtml}}');
    </script>
    
    <!-- Page content -->
    <div class="main">
      {% for app in apps %}
        <iframe src="/apps/{{app}}/www/index.html" frameborder="0" id="{{app}}" class="app-hidden"></iframe>
      {% endfor %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>